.explore-sectionExplore {
  background-color: #f5f1e8;
  padding: 60px 8%;
}

.explore-sectionExplore h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}
.explore-container {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
}

.explore-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.explore-card:hover {
  transform: translateY(-5px);
}

.icon-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border: 1px solid #e2d7c3;
  transition: 0.3s ease;
}

.icon-circle img {
  width: 35px;
  height: 35px;
}
.explore-card p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}
