.footer {
  background: linear-gradient(to right, #000000, #1a1a1a);
  color: #fff;
  padding: 60px 80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-col {
  flex: 1;
  min-width: 100px;
}
.logo{
    margin: 0;
}
.logo-box {
  background-color: rgb(247, 249, 252);
  font-size: 22px;
  padding: 8px 10px;
  margin-bottom: 20px;
  font-weight: 600;
  border-radius: 3px;
  display: inline-block;
  color: #000;
}

.highlight {
  color: #f2c764;
  padding: 4px 8px;
}

.description {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #ccc;
  max-width: 280px;
}

.footer-col h4 {
  margin-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 12px;
  font-size: 14px;
  color: #ccc;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: #fff;
  transform: translateX(5px);
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons img {
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  color: white;
  background-color: #222;
  transition: 0.3s;
}

.social-icons svg:hover {
  background-color: #f4d58d;
  color: #000;
}
