* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 90px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: #fffbf2;
  width: 100%;
}
.container {
  padding: 10px 150px 10px 150px;
  height: 80px;
}
.grid {
  display: grid;
}
.navbar-grid {
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 80px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #000;

  &:hover {
    color: #daa425;
  }
}
button {
  cursor: pointer;
}
.ham-menu {
  display: none;
}
.khush {
  color: #b9860f;
}
.login-btn {
  background-color: #b9860f;
  border-radius: 15px;
  padding: 6px 20px;
  border: none;
}
.login-btn a {
  color: #f9efd8;
}
/* dropdown fiest line */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-btn {
  background: #fffbf2;
  border: none;
  cursor: pointer;
}
.dropdown-menu {
  position: absolute;
  top: 52px;
  left: -899px;
  right: -563px;
  background: #fffbf2;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 150px;
}
.dropdown-menu p {
  position: relative;
  padding-bottom: 6px;
  &:hover {
    color: #b9860f;
  }
}
.dropdown-menu p::after {
  content: "";
  position: absolute;
  left: -40px;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #daa425;
  transition: width 0.3s ease;
}
.dropdown-menu p:hover::after {
  width: 190%;
}

/* media queries */
@media screen and (max-width: 998px) {
  .menu-web {
    display: none;
  }

  .ham-menu {
    display: inline-block;
    text-align: end;
  }
  .menu-mobaile {
    position: absolute;
    top: 90px;
    left: 0;
    background-color: #f9efd8;
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  .menu-mobaile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-mobaile ul li:first-child {
    margin-top: 10px;
  }
  .menu-mobaile ul li:last-child {
    margin-bottom: 10px;
  }
} */