* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 90px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: #fffbf2;
  width: 100%;
}
.container {
  padding: 10px 150px 10px 150px;
  height: 80px;
}
.grid {
  display: grid;
}
.navbar-grid {
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 80px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #000;

  &:hover {
    color: #daa425;
    text-decoration: underline;
  }
}
button {
  cursor: pointer;
}
.ham-menu {
  display: none;
}
.khush{
  color: #b9860f;
}
.login-btn{
  background-color: #b9860f;
  border-radius: 15px;
  padding:6px 20px ;
  border: none;
}
.login-btn a{
  color: #f9efd8;
}

/* media queries */
@media screen and (max-width: 998px) {
  .menu-web {
    display: none;
  }

  .ham-menu {
    display: inline-block;
    text-align: end;
  }
  .menu-mobaile {
    position: absolute;
    top: 90px;
    left: 0;
    background-color: #f9efd8;
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  .menu-mobaile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-mobaile ul li:first-child {
    margin-top: 10px;
  }
  .menu-mobaile ul li:last-child {
    margin-bottom: 10px;
  }
}
